.row
  .col-lg-12
    .panel
      .panel-heading
        = @report.name
      .panel-body
        - unless @members.empty?
          #flip-scroll
            %table.table.table-hover
              %thead
                %tr
                  %th First Name
                  %th Last Name
                  %th Level
                  %th Phone
                  %th Email
                  %th Date Added
              %tbody
                - @members.each do |member|
                  %tr
                    %td= link_to member.first_name, member
                    %td= link_to member.last_name, member
                    %td
                      - unless member.level.nil?
                        %span.label{style: "background: #{member.level.color}"}
                          = member.level.name
                    %td= number_to_phone member.phone if member.phone?
                    %td= mail_to member.email if member.email?
                    %td= l member.created_at
          .pull-right
            = link_to reports_members_recent_export_path do
              %i.fa.fa-cloud-download
              Download
          .text-center
            = paginate @members
