.row
  .col-lg-12
    .panel
      .panel-heading
        = @klass.name
        = link_to edit_class_path(@klass), class: 'pull-right' do
          %i.fa.fa-edit
      .panel-body
        %dl.dl-horizontal
          %dt Day of Week:
          %dd= @klass.day_of_week
          %dt Time:
          %dd= l @klass.class_time, format: :time
          %dt Recurring:
          %dd= @klass.recurring

